.myModal{
	width: 93%;
	border-radius:5px; 
	max-height: 87%;
	zoom:90%;
	background: white;
}

#sizeChartInput{
	font-size: 85%;
}

td{
	margin-left: 6px;
	margin-right: 6px;
}

.btns-group{
	margin-left: 10%;
	margin-right: 10%;
}

.required{
	background: #e0e0e0;
}

.error{
	background: #ff5252!important;
}



.tableDiv{
	overflow-x:scroll;
	overflow-y:auto;
	max-height: 450px;
	border: #b2ebf2  1px solid;
	border-radius: 5px;
	zoom:80%;
}

.updateTable-div{
	overflow-x:scroll;
	overflow-y:auto;
	max-height: 450px;
	border: #b2ebf2  1px solid;
	border-radius: 5px;
	zoom:80%;
}

.no-margin{
	margin: 0px;
}

.margin-10{
	margin-right: 10px;
	margin-left: 10px;
}
.tabs{
	overflow-x: hidden;
}

